form table td {
    padding: 0.2rem 0.5rem;
}

form table td:first-child {
    text-align: right;
    vertical-align: top;
    padding-top: 0.65rem;
    min-width: 8rem;
}

form table td.action {
    padding-top: 0.5rem;
}

fieldset {
    border: 1px solid #aaa;
    border-radius: 2px;
    margin-bottom: 2rem;
    padding: 1rem;
}

legend {
    padding: 0 1rem;
    color: #888;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    border: 1px solid #aaa;
    border-radius: 2px;
    padding: 0.5rem 0.8rem;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 14px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
    box-shadow: inset 0 1px 1px #ddd;
}

textarea {
    width: 24rem;
    height: 6rem;
    min-width: 12rem;
}

.stacked-input input {
    display: block;
    margin: -1px 0 0;
    border-radius: 0;
}

.stacked-input input:first-of-type {
    margin: 0;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.stacked-input input:last-of-type {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

button,
.button {
    display: inline-block;
    margin-bottom: 1rem;
    border: 1px solid #aaa;
    border-radius: 2px;
    background-color: #ddd;
    padding: 0.5rem 1rem;
    font-family: 'Merriweather Sans', sans-serif;
    cursor: pointer;
    color: #222;
    text-decoration: none;
}

button.subtle,
.button.subtle {
    background: none;
    color: #888;
}

button:hover,
.button:hover {
    border-color: #a0a0a0;
    background-color: #e4e4e4;
    color: #222;
}

button.primary,
.button.primary {
    border-color: #26f;
    background-color: #26f;
    color: white;
}

button.primary:hover,
.button.primary:hover {
    background-color: #18f;
}

button.large,
.button.large {
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
}

button.small,
.button.small {
    font-size: 0.8rem;
    padding: 0.2rem 0.5rem;
}

button.tiny,
.button.tiny {
    margin: 0;
    font-size: 0.75rem;
    padding: 0 0.35rem;
}

button.full-size,
.button.full-size {
    width: 100%;
}

.checkbox {
    display: inline-block;
    line-height: 2.2rem;
    cursor: pointer;
}

.checkbox.spaced {
    margin-left: 2rem;
}

.checkbox input[type="checkbox"] {
    display: none;
}

.checkbox .label {
    padding-left: 2rem;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox .label::before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    margin: .3rem 0 0 -2rem;
    border: 1px solid #aaa;
    border-radius: 2px;
    background-color: white;
    color: white;
    line-height: 1.4rem;
    text-align: center;
    vertical-align: middle;
    font-weight: 700;
}

.checkbox input[type="checkbox"]:checked + .label::before, .checkbox input[type="checkbox"]:checked + .label:hover::before {
    content: '\2713';
    font-size: 1rem;
    border-color: #888;
    background-color: #888;
}

.file-input span {
    margin-left: 1rem;
}

.login-form {
    margin-top: 2rem;
}

.home-panel form {
    margin: 2rem 0;
}

.home-panel table {
    margin: auto;
}

.message-form {
    padding-bottom: 0;
}

.message-form textarea {
    display: block;
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
}

.message-form input[type="submit"] {
    display: block;
    margin-top: 1rem;
}

.message-form input[type="text"] {
    width: 24rem;
}

.reply-form {
    text-align: right;
}

.reply-form .button {
    margin-bottom: 0;
}

.reply-form textarea {
    margin-top: 1rem;
}

.reply-form input[type="submit"] {
    display: inline-block;
    margin-top: 0;
}

.reply-form input + .alert.error,
.reply-form form + .alert.success {
    margin-top: 1rem;
}
