* {
    margin: 0;
    padding: 0;
}

body {
    font: 1rem/150% sans-serif;
    background: #f8f8f8;
    color: #222;
}

nav {
    background-color: #333;
}

nav span {
    margin: 0 2rem;
    color: #eee;
    line-height: 1.5rem;
    display: inline-block;
    vertical-align: bottom;
    font-size: 1.5rem;
}

nav ul {
    font-size: 0;
}

nav ul li {
    display: inline-block;
    font-size: 1rem;
}

nav ul li a {
    display: inline-block;
    padding: 0.5rem 0.8rem;
    color: #eee;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #555;
}

.main {
    max-width: 64rem;
    margin: auto;
    padding: 3rem 1rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

p {
    margin-bottom: 0.5rem;
}