* {
    margin: 0;
    padding: 0;
}

body {
    font: 1rem/150% 'Merriweather Sans', sans-serif;;
    background-color: white;
    color: #222;
}

nav {
    background-color: #333;
}

nav ul {
    max-width: 72rem;
    margin: auto;
    font-size: 0;
}

nav ul li {
    display: inline-block;
    font-size: 1rem;
}

nav ul li .title {
    margin-right: 2rem;
    color: #eee;
    line-height: 1.5rem;
    display: inline-block;
    vertical-align: bottom;
    font-size: 1.5rem;
}

nav ul li a {
    display: inline-block;
    padding: 0.5rem 0.8rem;
    color: #eee;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #555;
}

.main {
    max-width: 72rem;
    margin: auto;
    padding: 3rem 1rem;
}

h1 {
    margin-bottom: 1rem;
    font-size: 5rem;
    font-weight: normal;
    line-height: 5rem;
}

h1 + p {
    position: relative;
    top: -1.5rem;
    left: 10.25rem;
    color: #666;
    font-size: 1.2rem;
}

h1 + p em {
    font-style: normal;
    text-decoration: underline;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

p {
    margin-bottom: 0.5rem;
}

.grid:after {
    display: table;
    content: '';
    clear: both;
}

.column {
    float: left;
    width: 50%;
}

.column:first-child .content {
    padding-right: 1rem;
}

.column:last-child .content {
    padding-left: 1rem;
}

.panel {
    border: 1px solid #aaa;
    border-radius: 2px;
    background-color: #eee;
    padding: 1rem;
}

.register h3 {
    text-align: center;
    font-size: 1rem;
    font-weight: normal;
}

footer {
    max-width: 72rem;
    margin: 2rem auto 0;
    border-top: 1px solid #aaa;
    padding-top: 1rem;
}

footer p {
    text-align: center;
    color: #aaa;
    font-size: 0.8rem;
}