.avatar {
    float: left;
    width: 5rem;
    margin: 0 1rem 1rem 0;
    border: 1px solid #aaa;
}

.message {
    margin-bottom: 2rem;
    padding: 1rem 1rem 0 1rem;
}

.message.newly-posted {
    border: 3px solid #4a2;
}

.message .content {
    padding-left: 6rem;
}

.message .info {
    margin-bottom: 0.5rem;
}

.message h3 {
    display: inline-block;
}

.message .post-time {
    color: #888;
}

.message .text {
    padding-right: 3rem;
}

.message .replies {
    margin: 2rem 3rem 0 0;
}

.message .replies ul {
    margin-top: 1rem;
    list-style-type: none;
}

.reply {
    margin-bottom: 1rem;
}

.reply:last-child {
    border-bottom: none;
}

.reply.newly-posted {
    border: 0.5rem solid transparent;
    box-shadow: 0 0 0 3px #4a2;
}

.reply .avatar {
    width: 3rem;
}

.reply .info {
    margin-bottom: 0;
}

.reply .content {
    padding-left: 4rem;
    font-size: 0.75rem;
}

.reply h4 {
    display: inline-block;
}